
.contact {
    margin-top: 250px;
    display: flex;
}

.contact_img {
    width: 40%;
}

.contact_info {
    width: 60%;
}

.contact_info>h2 {
    text-align: start;
    margin-bottom: 3.7rem;
}
.contact img{
    width: 100%;
}
form {
    display: flex;
    gap: 1.2rem;
}

form>input {
    padding: 2.6rem 0rem 3rem 3.3rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    width: 60%;
    border-radius: 1rem;
    border: 1px solid #8F95A5;
    outline: none;
}
@media screen and (max-width:575px){
    .contact{
        flex-direction: column;
        align-items: center;
    }
    form{
        width: 100%;
        gap: 0;

    }
    form > input{
        width: 70%;
    }
    form > .btn{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:320px){
    form{
        flex-direction: column;
        gap: 17px;
    }
    form > input{
        width: 100%;
    }
    form > .btn{
        width: 100%;
    }
}
/* @media screen and (max-width:320px){
    
} */